* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 /*
 cores:
 #D91E63
 #049DBF
 #04D99D
 #F2CB05
 #F2F2F2
 */

.topo1, .efeito-sobre-nos, .q1-titulo, .efeito1, .efeito2, .efeito-lista-contatos {
   visibility: hidden;
}

.topo {
   height: 950px;
 }

 .topo1 {
   height: 475px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .topo2 {
   background-color: #04D99D;
   height: 475px;
 }


 .logo {
    width: 300px;
    height: 150px;
 }

 .texto-logo {
    font-family:cursive;
    font-size: 20px;
    text-align: center;
    color: #D91E63;
 }

 main {
   background-color: #04D99D;
   height: 3000px;
 }

 .sobre-nos {
    background-color: #04D99D ;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }

 .paragrafo {
    padding: 15px;
    font-family: cursive;
    color: #ffffff;
    text-align: justify;
 }

 .paragrafo > h1 {
   font-size: 3em; 
 }

 .paragrafo > p {
   font-size: 32px;
 }

 .quadro1 {
   height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
 }

 .quadro1 > h1 {
    font-size: 3em; 
    padding-left: 15px;
    margin-bottom: 12px;
    font-family: cursive;
    color: #ffffff;
 }

 .quadro2 {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   }

   .quadro3 {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

   
   .quadro1 > div {
      background-color: #ffffff;
      border-radius: 12px;
      height: 378px;
      width: 340px;
      margin: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .quadro1 > div > p {
      font-family: cursive;
      padding: 8px;
      color: #D91E63;
      text-align: justify;
    }
   
   .quadro2 > div {
      background-color: #ffffff;
      border-radius: 12px;
      height: 378px;
      width: 340px;
      margin: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .quadro2 > div > p {
      font-family: cursive;
      padding: 8px;
      color: #D91E63;
      text-align: justify;
    }

   .quadro3 > div {
      background-color: #ffffff;
      border-radius: 12px;
      height: 378px;
      width: 340px;
      margin: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .quadro3 > div > p {
      font-family: cursive;
      padding: 8px;
      color: #D91E63;
      text-align: justify;
    }

   
   .fotos{
     border-radius: 12px;
     height: 280px;
     width: 320px;
   }

   .contatos {
      height: 920px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .contatos > div  {
      margin: 12px;
   }
   
   .lista-contatos {
      font-family: cursive;
      color: #D91E63;
   }

   .lista-contatos > h1 {
      font-size: 3em;
   }

   .lista-contatos > p {
      font-size: 22px;
   }
   
   .social1 {
      margin-right: 5px;
   }

