* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 /*
 cores:
 #D91E63
 #049DBF
 #04D99D
 #F2CB05
 #F2F2F2
 */

.topo {
   height: 450px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
 .logo {
    width: 300px;
    height: 150px;
 }

 .texto-logo {
    font-family:cursive;
    font-size: 20px;
    text-align: center;
    color: #D91E63;
 }

 main {
   background-color: #04D99D;
   height: 1200px;
 }

 .sobre-nos {
    margin-top: 8px;
    background-color: #0000ff ;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .paragrafo {
    padding: 12px;
    color: #049DBF;
    text-align: justify;
    font-family: cursive;
 }

 .conteudo {
    padding: 12px;
    height: 400px;
    background-color: #04D99D;
 }


 .quadro1 {
   /*background-color: #ffffff;*/
   height: 400px;
   display: flex;
   align-items: center;
 }

 .quadro2 {
   /*background-color: #00ff00;*/
   height: 400px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 .quadro1 > div {
    height: 150px;
    width: 150px;
    margin: 12px;
    background-color: red;
 }

 .quadro2 > div {
    height: 150px;
    width: 150px;
    margin: 12px;
    background-color: blue;
 }


