@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


 /*
 cores:
 #D91E63
 #049DBF
 #04D99D
 #F2CB05
 #F2F2F2
 */

html, body {
   height: 100%;
}


.efeito-topo, .efeito-sobre-nos, .f1, .f2, .f3, .q1-titulo, .efeito-lista-contatos {
   visibility: hidden;
}

.topo {
    
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .logo-desing {
   width: 600px;
   height: 200px;
   padding-top: 11px;
   display: flex;
   justify-content: center;
   border: 1px solid, #049DBF ;
   box-shadow: 5px 10px #049DBF;
 }


 .logo {
    width: 300px;
    height: 150px;
 }

 main {
   background-color: #04D99D;
 }

 .sobre-nos {
    height: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }

 .sobre-nos > p {
    font-size: 25px;
    font-family:'Merienda', 'Arial';
    color: #ffffff;
    text-align: center;
 }

 .sobre-nos > h1 {
   font-size: 3em;
   color: #ffffff;
   font-family:'Merienda', 'Arial';

 }

 .servicos {
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .servicos-painel {
   background-color: #ffffff;
   height: 400px;
   width: 990px;
   border-radius: 12px;
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 .servicos > h1 {
    font-size: 3em; 
    padding-left: 15px;
    margin-bottom: 12px;
    font-family: 'Merienda', 'Arial';
    color: #ffffff;
 }
   
 .fotos{
     border-radius: 12px;
     height: 280px;
     width: 320px;
     margin-top: 8px;
 }

 .f1 {
   margin-right: 8px;
 }

 .f2 {
   margin-right: 8px;
 }

 .contatos {
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .contatos > div  {
    margin: 12px;
 }
   
 .lista-contatos {
    font-family: cursive;
    color: #D91E63;
 }

 .lista-contatos > h1 {
    font-size: 3em;
 }

 .lista-contatos > p {
    font-size: 22px;
 }
   
 .social1 {
    margin-right: 5px;
 }

